<ion-header>
  <ion-toolbar class = "Ion">
    
    <ion-buttons slot="start">
      <ion-menu-button class = "kio"></ion-menu-button>
    </ion-buttons>
    <ion-title>Domicilios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class=" Rodeo">
  <ion-card >
  

  
<ion-card-header>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Elija su pedido
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Entradas y adicionales</ion-label>
      <ion-select multiple="true" cancel-text="Cancelar" ok-text="Listo">
        <ion-select-option value="bacon">Arepas maiz peto con queso</ion-select-option>
        <ion-select-option value="olives">Longaniza de cerdo</ion-select-option>
        <ion-select-option value="xcheese">Chicharrones</ion-select-option>
        <ion-select-option value="peppers">Platano con bocadillo</ion-select-option>
        <ion-select-option value="mushrooms">Porción de arroz</ion-select-option>
        <ion-select-option value="mushrooms">Porción ad de papa salada</ion-select-option>
        <ion-select-option value="mushrooms">Porción ad de yuca al vapor</ion-select-option>
        <ion-select-option value="mushrooms">Porción ad de ensalada de aguacate</ion-select-option>
        
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Bebidas</ion-label>
      <ion-select id="multiple" multiple="true">
        <ion-select-option value="bird">Jugo de maracuya</ion-select-option>
        <ion-select-option value="cat">Jugo de lulo</ion-select-option>
        <ion-select-option value="dog">Jugo de mora</ion-select-option>
        <ion-select-option value="honeybadger">Limonada personal</ion-select-option>
        <ion-select-option value="honeybadger">Gaseosa Litro y medio</ion-select-option>
        <ion-select-option value="honeybadger">Gaseosa 3 litros</ion-select-option>
        <ion-select-option value="honeybadger">Agua en botella</ion-select-option>
        <ion-select-option value="honeybadger">Poker</ion-select-option>
        <ion-select-option value="honeybadger">Cola & Pola</ion-select-option>
        <ion-select-option value="honeybadger">Aguila</ion-select-option>
        

      </ion-select>
    </ion-item>
  </ion-list>



</ion-card-header>




