<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Medios de pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-card>
  <ion-item>
    <ion-icon name="pin" width="45" slot="start"></ion-icon>
    <ion-label>
    </ion-label>
    <ion-card-content>
      Pensando en su comodidad en el Asadero El rodeo contamos con 
        diferentes formas de pago para que usted no se quede sin disfrutar
         de la mejor carne del sector
    </ion-card-content>
    
    
    
  </ion-item>
  <img src="../../assets/icon/Banca-News-Pagos.jpg" alt= "nn">

  


