<!DOCTYPE html>

<ion-header >
  <ion-toolbar class = "Ion">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Medios de pago</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content  >
  
<ion-card  >
  <ion-item  >
    <ion-icon name="pin" width="45" slot="start"></ion-icon>
    <ion-label  >
    </ion-label>
    <ion-card-content >
      Pensando en su comodidad en el Asadero El rodeo contamos con 
        diferentes formas de pago para que usted no se quede sin disfrutar
         de la mejor carne del sector
    </ion-card-content>
    
    
    

    
  </ion-item>
  <img src="../../assets/icon/Banca-News-Pagos.jpg" alt= "nn">
  <ion-tabs >
    <ion-tab-bar  slot="bottom">
      <ion-tab-button tab="tab-schedule">
        
        <ion-icon name="calendar"  class = "none"></ion-icon>
        <ion-label >Efectivo</ion-label>
            </ion-tab-button>
  
      <ion-tab-button tab="tab-speaker">
        <ion-icon name="person-circle"  class = "none"></ion-icon>
        <ion-label>Bancolombia</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab-map">
        <ion-icon name="map"  class = "none"></ion-icon>
        <ion-label>Nequi</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab-about">
        <ion-icon name="information-circle"  class = "none"></ion-icon>
        <ion-label>Daviplata</ion-label>
      </ion-tab-button>
    
   
    </ion-tab-bar>
    </ion-tabs>
    </ion-card>
    </ion-content>
  
    <!DOCTYPE html>
    


  


