<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asadero El Rodeo</ion-title>
    
    
  </ion-toolbar>
  
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    
  </ion-card-content>

  <div id="container">
    <img src="../../assets/icon/Carne-asada.webp" alt= "nn">
    <strong class="capitalize">Para nosotros es un gusto atenderle<br>
    ¡Bienvenidos!</strong>
<img src="../../assets/icon/descarga (3).png" alt= "nn">

    
      <p><a target="_blank" rel="noopener noreferrer" href="https://youtu.be/QPjkrRM8TNQ>">
        <ion-icon name="logo-youtube"></ion-icon></a></p>
  </div>
</ion-content>
