<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Nuestro plato especial</ion-card-subtitle>
    <ion-card-title>Mixta de tres carnes</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Usted puede encontrar en este delicioso plato una porcion generosa de carne de res, cerdo
   y pollo(750g) acompañado de papa salada,yuca al vapor y ensalada de 
   aguacate
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Deliciosa carne asada al carbón</ion-label>
      </ion-item> 
  <img src="../../assets/icon/rodeo10.jpg" alt= "nn">
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Longaniza de cerdo</ion-label>
      </ion-item> 
  <img src="../../assets/icon/rodeo3.webp" alt= "nn">
</ion-card>
  
<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Costillas de cerdo</ion-label>
      </ion-item> 
  <img src="../../assets/icon/rodeo2.png" alt= "nn">
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Arepas de maiz peto</ion-label>
      </ion-item> 
  <img src="../../assets/icon/caacbb4d-4e60-42ff-a941-fb4d4f89cf6b.png" alt= "nn">
</ion-card>
